{% extends 'app/layout.html' %}

{% block body %}
    <div id="about">
        <h1>About</h1>
        <h2>About Scansion</h2>
        <p>Historically, a defining feature of English-language poetry has been accentual or accentual-syllabic meter: that is, most lines in most English-language poems have tended to follow some regular pattern in the number of accents or stressed syllables per line  (accentual verse) — or a regular pattern in both the numbers of stressed syllables per line <em>and</em> the arrangement of stressed and unstressed syllables. Students today study many such metrical poems, and some write them, but scansion — the skill of distinguishing stressed syllables from unstressed and identifying the patterns they create — is an art many students find difficult and frustrating.</p>
        <h2>How to Use</h2>
        <p>This app is a teaching tool that exists at the meeting point of tech and the humanities. I have pre-scanned a number of poems, and you can test your scansion skills against mine.</p>
        <ol>
            <li>Choose a poem. You'll find a list of available poems on the "Choose a Poem" page, or you can scan the randomly chosen poem that first appears on the home page.</li>
            <li>Explore the interface. You'll find whatever poem you chose in a box with a dark red border on the left. Above each word you will find some number of "u"s, indicating unstressed syllables. Of course, the poem will contain stressed syllables as well! Your job will be to click the correct "u"s, turning them into "/"s ("/" here is the symbol for a stressed syllable). Occasionally you will find a word with the wrong number of syllables, and for this reason you will find a plus and a minus button beneath each word. These buttons will increase or decrease the number of syllables.</li>
            <li>Get scanning. It helps to read the poem aloud, exaggerating the emphasis on syllables you're thinking of changing to "/" — if it sounds funny, it's likely not stressed.</li>
            <li>When you're satisfied with your scansion, click "submit scansion" at the bottom of the poem.</li>
        </ol>
        <h2>Your Score</h2>
        <p>Upon submitting the scansion, you will get a score based on a comparison of your scansion to my or another experienced user's scansion. Because scansion is a sensitive, subtle, and often subjective art, this score is necessarily imprecise. I don't expect your scansion to match the provided scansion exactly, but I give a point if the scansions agree on 90% or more of the words, and take away a point if you disagree on more than 30% of the words (in between these amountns, you get a score of 0). When you hit "ok" on the popup with your score, you will see the words where our scansions agreed highlighted in green and where they disagreed highlighted in red.</p>
        <h2>Creating an Account</h2>
        <p>If you register, you can keep track of your score until it reaches 10 points. At 10 points, you will become a "promoted" user with the ability to alter the scansions on poems when you disagree, and also to access poems scanned only by the computer program. When you update the scansion of a poem this way, whether it was scanned by a computer or a human, you will be teaching the computer program to scan better by giving it statistics on how often certain syllables in certain words are stressed.</p>
        <h2>Scansion on GitHub</h2>
        <p>This project is open-source, and you will soon be able to find it on GitHub <a href="#">here</a> if you're interested in contributing.</p>
        <h2>The Source of the Poems</h2>
        <p>The poems in the database come from the Project Gutenberg etext of <i>The Golden Treasury</i>, selected by Francis Turner Palgrave and published in 1861. I may eventually add poems from other public-domain poetry collections as well.</p>
    </div>
{% endblock %}
