{% extends 'app/layout.html' %}

{% block body %}
    <p>No poem entered here will be saved; still, best not to enter anything confidential.</p>
    <form action="{% url 'own_poem' %}" method="POST">
        {% csrf_token %}
        <label for="title">Poem Title (optional)</label>
        <input type="text" id="title" name="title" placeholder="Poem Title">
        <label for="poet">Poet (optional)</label>
        <input type="text" id="poet" name="poet" placeholder="Poet">
        <label for="poem">Poem</label>
        <textarea id="poem" name="poem" rows="25" cols="200"></textarea>
        <label for="submit">Submit</label>
        <input type="submit" id="submit">
    </form>
{% endblock %}
